@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    background: #ccc;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 15px;
    font-size: 14px;
}

.resume{
    margin: ;
}